<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="fragments/head :: head (pageTitle='Onboarding Demo')"></head>
  <body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <h1>Welcome to the Openshift Onboarding Demo</h1>

        <p>This onboarding demo is a simple walkthrough of some of the steps that an onboarding workflow could contain.</p>
    asdfasdf
    </div>  

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>